$color: black;

svg {
  border: 0.1em solid $color;
  width: 50em;
  height: 30em;

  g.lines {
    line {
      stroke: $color;
      stroke-width: 0.02em;
    }
  }
}

circle {
  fill: transparent;
  stroke: $color;
  stroke-width: 0.02em;
}

.samples circle {
  fill: $color;
}


